<ion-menu content-id="main-content" id="custom-menu">
  <ion-header>
    <ion-toolbar class="toolbarMenu"> Menu </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item button routerLink="/start-ing">
        <ion-icon slot="start" name="walk"></ion-icon>
        <ion-label>Start - Ing</ion-label>
      </ion-item>
      <ion-item button routerLink="/settings">
        <ion-icon slot="start" name="cog"></ion-icon>
        <ion-label>Sett - Ing</ion-label>
      </ion-item>
      <ion-item button routerLink="/results">
        <ion-icon slot="start" name="document-attach"></ion-icon>
        <ion-label>Results</ion-label>
      </ion-item>
      <ion-item button routerLink="/home">
        <ion-icon slot="start" name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="toolbarP">
      <ion-buttons class="sanduche" slot="start">
        <ion-menu-button class="menu"></ion-menu-button>
      </ion-buttons>
      WALK - ING
      <ion-icon name="walk-outline"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-content class="contenedor">
    <div class="welcome-container">
      <h2>SETT - ING</h2>
    </div>

     <div class="icon-user">
      <ion-icon name="person-circle-outline"></ion-icon>
     </div>

     <div class="username">
      <h2>USUARIO001</h2>
    </div>
        

    <!-- Pie de página -->
    <div class="footer">DERECHOS RESERVADOS 2024 ®</div>
  </ion-content>
</div>
